<html>
  <body>
  <script src="https://d3js.org/d3.v4.js"></script>
  <script type="text/javascript">
    function autorun()
    {
      var matrix = [
        [11975,  5871, 8916, 2868],
        [ 1951, 10048, 2060, 6171],
        [ 8010, 16145, 8090, 8045],
        [ 1013,   990,  940, 6907]
      ];

      var tr = d3.select(".post-content")
        .append("table")
        .selectAll("tr")
        .data(matrix)
        .enter().append("tr");

      var td = tr.selectAll("td")
        .data(function(d) { return d; })
        .enter().append("td")
        .text(function(d) { return d; })
        .style(
          'color',function(d) {
            if(d<10000){
              return 'red'
            }
          }
        );
    }
    if (window.addEventListener) window.addEventListener("load", autorun, false);
    else if (window.attachEvent) window.attachEvent("onload", autorun);
    else window.onload = autorun;
  </script>
  </body>
</html>
